@model AbuseIpData

<h2>IP Reputation Result</h2>

<table class="table table-bordered">
    <tr><th>IP Address</th><td>@Model.IpAddress</td></tr>
    <tr><th>Abuse Score</th><td>@Model.AbuseConfidenceScore%</td></tr>
    <tr><th>Total Reports</th><td>@Model.TotalReports</td></tr>
    <tr><th>Distinct Users</th><td>@Model.NumDistinctUsers</td></tr>
    <tr><th>Country</th><td>@Model.CountryCode</td></tr>
    <tr><th>Domain</th><td>@Model.Domain</td></tr>
    <tr><th>Whitelisted</th><td>@Model.IsWhitelisted</td></tr>
</table>

<a href="/" class="btn btn-secondary">Check Another IP</a>
